.testimonials{
    background-color: #0b0b0b;
    padding: 90px 0;
    .wrapper{
        padding: 15px;
        img{
            margin-bottom: 20px;
        }
        .text{
            color:#82878a;
            margin-bottom: 20px;
        }
        h4{
            color: #9e171d;
            font-weight: 700;
            font-size: 18px;
        }
    }
}